## https://docs.fluentbit.io/manual/administration/configuring-fluent-bit/classic-mode/configuration-file
config:
  service: |
    [SERVICE]
        Daemon Off
        Flush {{ .Values.flush }}
        Log_Level {{ .Values.logLevel }}
        Parsers_File parsers.conf
        Parsers_File custom_parsers.conf
        HTTP_Server On
        HTTP_Listen 0.0.0.0
        HTTP_Port {{ .Values.metricsPort }}
        Health_Check On
        storage.path /var/fluent-bit/state/flb-storage/
        storage.sync normal
        storage.checksum Off
        storage.backlog.mem_limit 5M

  ## https://docs.fluentbit.io/manual/pipeline/inputs
  inputs: |
    [INPUT]
        Name tail
        Path /var/log/containers/*.log
        multiline.parser docker, cri
        Tag kube.*
        Mem_Buf_Limit 5MB
        Skip_Long_Lines On

    [INPUT]
        Name systemd
        Tag host.*
        Systemd_Filter _SYSTEMD_UNIT=kubelet.service
        Read_From_Tail On

    [INPUT]
        Name                tail
        Tag                 host.dmesg
        Path                /var/log/dmesg
        Key                 message
        DB                  /var/fluent-bit/state/flb_dmesg.db
        Mem_Buf_Limit       5MB
        Skip_Long_Lines     On
        Refresh_Interval    10
        Read_from_Head      Off

    [INPUT]
        Name                tail
        Tag                 host.messages
        Path                /var/log/messages
        Parser              syslog
        DB                  /var/fluent-bit/state/flb_messages.db
        Mem_Buf_Limit       5MB
        Skip_Long_Lines     On
        Refresh_Interval    10
        Read_from_Head      Off

    [INPUT]
        Name                tail
        Tag                 host.secure
        Path                /var/log/secure
        Parser              syslog
        DB                  /var/fluent-bit/state/flb_secure.db
        Mem_Buf_Limit       5MB
        Skip_Long_Lines     On
        Refresh_Interval    10
        Read_from_Head      Off

    [INPUT]
        Name                tail
        Tag                 application.*
        Exclude_Path        /var/log/containers/cloudwatch-agent*, /var/log/containers/fluent-bit*, /var/log/containers/aws-node*, /var/log/containers/kube-proxy*
        Path                /var/log/containers/*.log
        multiline.parser    docker, cri
        DB                  /var/fluent-bit/state/flb_container.db
        Mem_Buf_Limit       50MB
        Skip_Long_Lines     On
        Refresh_Interval    10
        Rotate_Wait         30
        storage.type        filesystem
        Read_from_Head      Off  

    [INPUT]
        Name                tail
        Tag                 slog
        Path                /var/log/containers/s-*.log
        multiline.parser    docker, cri
        DB                  /var/fluent-bit/state/flb_s_container.db
        Mem_Buf_Limit       50MB
        Skip_Long_Lines     On
        Refresh_Interval    10
        Rotate_Wait         30
        storage.type        filesystem
        Read_from_Head      Off

  ## https://docs.fluentbit.io/manual/pipeline/filters
  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On

    [FILTER]
        Name                modify
        Match               host.*
        Rename              _HOSTNAME                   hostname
        Rename              _SYSTEMD_UNIT               systemd_unit
        Rename              MESSAGE                     message
        Remove_regex        ^((?!hostname|systemd_unit|message).)*$

    [FILTER]
        Name                aws
        Match               host.*
        imds_version        v2
    
    [FILTER]
        Name                grep
        Match               application.sticker        
        Regex               log (LoggingQRadarAopHandler)

    [FILTER]
        Name rewrite_tag
        Match slog
        Rule $log ^(.*)$ loki.application false
        Emitter_Name loki_rewriter
        
    [FILTER]
        Name    grep
        Match   loki.*
        Exclude log loki/api/v1/push

    [FILTER]
        Name    lua
        Match   loki.*
        script  /fluent-bit/etc/conf/extract_http_status.lua
        call    extract_http_status

    [FILTER]
        Name              modify
        Match             kube.*
        Add               cluster_name ${cluster_name}
    
    [FILTER]
        Name              grep
        Match             kube.*
        Regex             log (?i)^(?!.*NOERROR).*(error|critical|fatal)

  ## https://docs.fluentbit.io/manual/pipeline/outputs
  outputs: |
    [OUTPUT]
        Name                         s3
        Match                        application.*
        bucket                       fluentbit-bucket
        region                       ap-northeast-2
        compression                  gzip
        use_put_object                On
        s3_key_format                /dt=%Y%m%d/hour=%H/fluentbit_%H%M_$UUID.gz
        s3_key_format_tag_delimiters .-
        total_file_size              10M
        upload_timeout               5m
        storage_class                INTELLIGENT_TIERING

    [OUTPUT]
        name                         loki
        match                        loki.*
        host                         loki-gateway.default.svc.cluster.local
        port                         80
        labels                       job=fluent-bit
        label_keys                   $stream,$http_status,$api_path,$log_level,$domain

    [OUTPUT]
        Name              s3
        Match             kube.*
        bucket            bedrock-bucket
        region            ap-northeast-2
        compression       gzip
        use_put_object    On
        s3_key_format     /bedrock/%Y%m%d/event-%H%M%S-$UUID.gz
        total_file_size   1M
        upload_timeout    5s
        storage_class     INTELLIGENT_TIERING


  # This allows adding more files with arbitary filenames to /fluent-bit/etc by providing key/value pairs.
  # The key becomes the filename, the value becomes the file content.
  extraFiles:
    extract_http_status.lua: |
      function extract_http_status(tag, timestamp, record)
          local log = record["log"]
          if log ~= nil then
              local status = string.match(log, "")
              if status ~= nil then
                  record["http_status"] = status
              end

              local api_path = string.match(log, "")
              if api_path ~= nil then
                  record["api_path"] = api_path
              end

              local log_level = string.match(log, "")
              if log_level ~= nil then
                  record["log_level"] = log_level
              end

              local domain = string.match(log, "")
              if domain ~= nil then
                  record["domain"] = domain
              end
          end
          return 1, timestamp, record
      end
